<h2>Generate quotation</h2>
<div class="row">
    <div class="col-lg-11">
        <div class="card">
            <form action="">
                <div class="card-body">
                    <h5>Client Information</h5>
                    <p>Fill the below fields to generate the quotation</p>
                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <div class="input-group input-group-outline">
                                <label class="form-label">Client Name</label>
                                <input type="text" class="form-control" onfocus="focused(this)"
                                    onfocusout="defocused(this)" name="name" id="name">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group input-group-outline">
                                <label class="form-label">Address</label>
                                <input type="text" class="form-control" onfocus="focused(this)"
                                    onfocusout="defocused(this)" name="address" id="address">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group input-group-outline">
                                <label class="form-label">Phone Number</label>
                                <input type="text" class="form-control" onfocus="focused(this)"
                                    onfocusout="defocused(this)" name="phoneNumber" id="phoneNumber">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group input-group-outline">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" onfocus="focused(this)"
                                    onfocusout="defocused(this)" name="email" id="email">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <h5>Services Cost</h5>
                        <p>Choose the service that the client requested</p>
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="btn btn-primary move-on-hover" id="web_from">Website</div>
                            </div>
                            <div class="col-sm-1" style="width: 10%;">
                                <div class="btn btn-primary move-on-hover" id="mobile_from">Mobile app</div>
                            </div>
                            <div class="col-sm-1" style="width: 10.8%;">
                                <div class="btn btn-primary move-on-hover" id="desktop_from">Desktop App</div>
                            </div>
                            <div class="col-sm-1" style="width: 7%;">
                                <div class="btn btn-primary move-on-hover" id="rpa_from">RPA</div>
                            </div>
                            <div class="col-sm-1" style="width: 14%;">
                                <div class="btn btn-primary move-on-hover" id="om_from">Office Management</div>
                            </div>
                            <div class="col-sm-1" style="width: 15%;">
                                <div class="btn btn-primary move-on-hover" id="pm_from">Project Management</div>
                            </div>
                            <div class="col-sm-1" style="width: 20%;">
                                <div class="btn btn-primary move-on-hover" id="hrm_from">HR Management</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4" id="website_fil">
                        <h5>Cost and time</h5>
                        <p class="pb-4">Add the amount of time and cost</p>
                        <div class="col-lg-4">
                            <p>Website Design Layout</p> +
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group input-group-outline">
                                        <label class="form-label">Website Design time</label>
                                        <input type="text" class="form-control" onfocus="focused(this)"
                                            onfocusout="defocused(this)" name="DLT" id="DLT">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-outline">
                                        <label class="form-label">Website Design cost</label>
                                        <input type="number" class="form-control" onfocus="focused(this)"
                                            onfocusout="defocused(this)" name="DCL" id="DCL">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="mobile_fil">

                    </div>
                    <div class="row" id="desktop_fil">

                    </div>
                    <div class="row" id="rpa_fil">

                    </div>
                    <div class="row" id="om_fil">

                    </div>
                    <div class="row" id="pm_fil">

                    </div>
                    <div class="row" id="hrm_fil">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>